.main {
  padding-bottom: 60px;
}

.main__container {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, 305px);
  justify-content: center;
  padding: 48px 0 56px 0;
  list-style: none;
}

.main__link {
  text-decoration: none;
  color: inherit;
  display: block;
}
